
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager nav 


<AuthorizeView>
    <span>Welcome @context.User.FindFirst("FirstName").Value</span> &nbsp;
    <RadzenButton Text="Logout" Click="Logout" class="mr-2" />
</AuthorizeView>

@code {

    async Task Logout()
    {
        var localStateProvider = (LocalAuthenticationStateProvider)authenticationStateProvider;
        await localStateProvider.LogoutAsync();
        nav.NavigateTo("/auth/login");
    }
}
